<ion-app>
  <ion-menu side="start" max-edge-margin="50" type="overlay" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="./home">Home</ion-item>
        <ion-item href="./test-page">Profile</ion-item>
	<ion-item href="./stores">Stores</ion-item>
 	<ion-item>Stores</ion-item>
        <ion-item>Settings</ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
